/*Tipography and variables*/
:root {
    --primary-color: #3b0959; 
    --text-light: #ffffff;
    --bg-light: #f9f9f9; 
    --font-heading: 'Merriweather', serif; 
    --font-body: 'Opens Sans', Sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
    font-family: var(--font-body);
    background-color: var(--bg-light);
    color: #333;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* HEADER Y NAVIGATION (Mobile) */
header {
    background-color: var(--primary-color);
    color: var(--text-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
}

header .logo span {
    font-family: var(--font-heading);
    font-size: 1.5rem;
}

#menu-button {
    font-size: 1.8rem;
    background: none;
    border: none;
    color: var(--text-light);
    cursor: pointer;
}

/* MAIN MENU  */
nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 10;
}

/* dinamyc class injected by JS */
nav.open {
    display: block;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column; /* For the mobile */
}

nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: var(--text-light);
    text-align: center;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* MAIN Y GRID LAYOUT (Mobile) */
main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: center;
    
}

main h1 {
    font-family: var(--font-heading);
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* One column in mobile */
    gap: 2rem;
}

figure {
    background-color: #fff;
    padding: 0.5rem;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

figure img {
    width: 100%;
    height: auto;
    display: block;
}

figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

/* FOOTER */
footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 1.5rem;
    font-size: 0.85rem;
    
}

footer p {
    margin: 0.3rem 0;
}