/* HEADER AND NAVIGATION (Desktop) */
#menu-button {
    display: none; /* Hiding the hamburguer button */
}

nav {
    display: block; 
    position: static; 
    width: auto;
}

nav ul {
    flex-direction: row; 
}

nav a {
    padding: 0.5rem 1rem;
}

/* GRID LAYOUT (Desktop) */
.grid-container {
    
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.5rem;
}